# Angular
inventory-app/dist
inventory-app/tmp
inventory-app/out-tsc
inventory-app/bazel-out
inventory-app/node_modules
inventory-app/npm-debug.log
inventory-app/yarn-error.log
inventory-app/.idea/
inventory-app/.project
inventory-app/.classpath
inventory-app/.c9/
inventory-app/*.launch
inventory-app/.settings/
inventory-app/.sublime-workspace
inventory-app/.vscode/*
!inventory-app/.vscode/settings.json
!inventory-app/.vscode/tasks.json
!inventory-app/.vscode/launch.json
!inventory-app/.vscode/extensions.json
inventory-app/.history/
inventory-app/.angular/cache
inventory-app/.sass-cache/
inventory-app/.connect.lock
inventory-app/coverage
inventory-app/libpeerconnection.log
inventory-app/testem.log
inventory-app/typings
inventory-app/.DS_Store
inventory-app/Thumbs.db

# Spring Boot
AutoInventory/target/
AutoInventory/.apt_generated
AutoInventory/.factorypath
AutoInventory/.springBeans
AutoInventory/.sts4-cache
AutoInventory/.mvn/wrapper/maven-wrapper.jar
AutoInventory/!**/src/main/**/target/
AutoInventory/!**/src/test/**/target/
AutoInventory/.idea
AutoInventory/*.iws
AutoInventory/*.iml
AutoInventory/*.ipr
AutoInventory/nbproject/private/
AutoInventory/nbbuild/
AutoInventory/dist/
AutoInventory/nbdist/
AutoInventory/.nb-gradle/
AutoInventory/build/
AutoInventory/!**/src/main/**/build/
AutoInventory/!**/src/test/**/build/
AutoInventory/.vscode/
